@use '../../mixin.scss' as mixin;

#workers {
    @include mixin.flex(auto, auto, column);
    position: relative;
    height: max-content;
    max-height: 45vh;

    >h4 {
        color: var(--soft-green)
    }

    >div {
        @include mixin.flex(auto, auto, column);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0);
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--soft-green);
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--soft-green);
        }

        >.worker {
            @include mixin.flex(center, auto, column);

            >span {
                background-color: var(--strong-orange);
                border-radius: 100%;
                padding: 5px;
                aspect-ratio: 1/1;
                height: -webkit-fill-available;
                position: relative;

                >img {
                    height: 4em;
                    border-radius: 100%;
                    background-color: var(--body-color);
                    aspect-ratio: 1/1;
                }

                >.tea {
                    z-index: inherit;
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                    height: 2.2em;
                    background-color: rgba(255, 0, 0, 0);
                }
            }

            >p {
                opacity: 0;
                transition: .3s ease-in-out;
            }

            >.productionitem {
                transform: translateY(20px);
            }

            >.productionpercent {
                transform: translateY(-20px);
            }
        }

        >.worker:hover p {
            transform: none;
            opacity: 1;
        }

        >.productionselect {
            position: absolute;
            top: 10%;
            left: 105%;
            background-color: var(--system-white);
            padding: 15px;
            border-radius: 10px;
            z-index: 2;

            >p {
                text-wrap: nowrap;
                color: var(--strong-green);
                cursor: pointer;
                font-size: 20px;
                transition: .2s ease-in-out;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}