main {
    display: flex;
    flex-direction: row;

    >div {
        &:first-of-type {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            padding: 40px;

            >div {
                border: 1px solid var(--strong-orange);
                border-radius: 20px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: min-content;
            }

            >.masters {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;

                >h2 {
                    width: min-content;
                }

                >span {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    max-width: 300px;
                    align-items: flex-start;
                    justify-content: flex-start;
                    height: -webkit-fill-available;

                    >img {
                        height: 60px;

                    }
                }
            }

            >.rumors {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 10em;
                }

                gap: 15px;
            }
        }

        &.gameplace {
            border: 1px solid var(--strong-orange);
            border-radius: 20px;
            margin: 40px;
            width: 50%;
            height: fit-content;
            aspect-ratio: 1/1;
            position: relative;
            animation: showgameplace .3s ease-in-out forwards;
            opacity: 0;
        }

        .logcabin {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: min-content;
            cursor: pointer;

            >img {
                height: 10em;
            }
        }

    }
}



@keyframes showgameplace {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
