main {
    display: flex;
    flex-direction: row;

    >div {
        &:first-of-type {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            padding: 40px;

            >.clockplace {
                position: absolute;
                left: -50px;
                bottom: -140px;
                border: none;

                >.clock {
                    background-color: #DDBEA9;
                    border-radius: 20px;
                    border: none;
                    padding: 10px;
                    height: fit-content;
                    position: relative;
                    z-index: 1;
                    transform: translateY(125%);

                    >.clockdisplay {
                        border-radius: 10px;
                        border: 6px solid #CB997E;
                        background-color: #EDDCD2;
                        padding: 10px;
                        position: relative;

                        >p {
                            position: absolute;
                            color: #A5A58D;

                            &:nth-of-type(2) {
                                top: 45px;
                            }
                        }

                        >h1 {
                            margin-inline: 30px 15px;
                            color: #A5A58D;
                        }
                    }

                    >.button {
                        position: absolute;
                        width: 50%;
                        z-index: -1;
                        height: 15px;
                        left: 50%;
                        transform: translate(-50%, -150%);
                        background-color: #cb997e;
                        border-radius: 10px 10px 0 0;
                        transition: .1s ease-in-out;
                        cursor: pointer;

                        &:active {
                            height: 12px;
                        }
                    }

                    >span {
                        position: absolute;
                        right: -200px;
                        top: -50px;

                        >img {
                            height: 12em;
                        }

                        >p {
                            font-size: 20px;
                            transform: translate(55px, -118px);
                        }
                    }
                }

                >img {
                    height: 25em;
                }
            }

            

            >.workers {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 20px;
                position: relative;
                height: max-content;

                >div {
                    display: flex;
                    flex-direction: column;

                    >.worker {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        >span {
                            background-color: #CB997E;
                            border-radius: 100%;
                            padding: 5px;
                            aspect-ratio: 1/1;
                            height: -webkit-fill-available;
                            position: relative;

                            >img {
                                height: 4em;
                                border-radius: 100%;
                                background-color: #30343F;
                                aspect-ratio: 1/1;
                            }

                            >.tea {
                                z-index: inherit;
                                position: absolute;
                                bottom: 0;
                                right: -20px;
                                height: 2.2em;
                                background-color: rgba(255, 0, 0, 0);
                            }
                        }

                        >p {
                            opacity: 0;
                            transition: .3s ease-in-out;
                        }

                        >.productionitem {
                            transform: translateY(20px);
                        }

                        >.productionpercent {
                            transform: translateY(-20px);
                        }
                    }

                    >.worker:hover p {
                        transform: none;
                        opacity: 1;
                    }



                    >.productionselect {
                        position: absolute;
                        top: 10%;
                        left: 105%;
                        background-color: #F0EFEB;
                        padding: 15px;
                        border-radius: 10px;
                        z-index: 2;

                        >p {
                            text-wrap: nowrap;
                            color: #A5A58D;
                            cursor: pointer;
                            font-size: 20px;
                            transition: .2s ease-in-out;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            >div {
                border: 1px solid #CB997E;
                border-radius: 20px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: min-content;
            }

            >.masters {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;

                >h2 {
                    width: min-content;
                }

                >span {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    max-width: 300px;
                    align-items: flex-start;
                    justify-content: flex-start;
                    height: -webkit-fill-available;

                    >img {
                        height: 60px;

                    }
                }
            }

            >.rumors {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 10em;
                }

                gap: 15px;
            }
        }

        &.gameplace {
            border: 1px solid #CB997E;
            border-radius: 20px;
            margin: 40px;
            width: 50%;
            height: fit-content;
            aspect-ratio: 1/1;
            position: relative;
            animation: showgameplace .3s ease-in-out forwards;
            opacity: 0;
        }

        .logcabin {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: min-content;
            cursor: pointer;

            >img {
                height: 10em;
            }
        }

    }

    .sidemenu {
        background-color: #CB997E;
        height: 100vh;
        position: absolute;
        top: 0;
        transform: translateX(-105%);
        padding: 20px;
        width: min-content;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        z-index: 2;

        >span {
            text-wrap: nowrap;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 30px;
            text-wrap: nowrap;
            margin-bottom: 40px;

            >img {
                height: 4em;
                cursor: pointer;

                &:first-of-type {
                    transform: rotate(180deg);
                }
            }
        }

        >.allnotes {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            overflow-y: auto;
            max-height: 85%;


            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-track {
                background: #F0EFEB;
                border-radius: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: #B7B7A4;
                border-radius: 6px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #B7B7A4;
            }

            >div {
                background-color: #F0EFEB;
                max-width: 300px;
                color: #A5A58D;
                padding: 15px;
                border-radius: 15px;
                height: fit-content;

                &:hover img {
                    opacity: 1;
                }

                >span {
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    justify-content: space-between;

                    >img {
                        height: 2em;
                        transition: .2s ease-in-out;
                        opacity: 0;
                        cursor: pointer;
                    }

                    >* {
                        overflow-wrap: break-word;
                        white-space: normal;
                    }

                    >h2 {
                        color: #CB997E;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }

            >span {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                height: fit-content;

                >img {
                    height: 10em;
                }
            }


        }


        &.hidesidemenu {
            animation: hidesidemenu .3s forwards ease-in-out;
        }

        &.showsidemenu {
            animation: showsidemenu .3s forwards ease-in-out;
        }


        .newnote {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 90%;
            position: absolute;
            bottom: 8%;
            transform: translateY(130%);
            background-color: #CB997E;

            .inputgroup {
                width: 93%;
                position: relative;
            }

            .inputfield {
                width: 100%;
                padding: 15px;
                font-size: 16px;
                border: 3px solid #FFF1E6;
                background-color: #CB997E;
                border-radius: 4px;
                outline: none;
                transition: border-color 0.3s;
            }

            .inputlabel {
                position: absolute;
                left: 15px;
                top: 15px;
                font-size: 16px;
                color: #FFF1E6;
                transition: all 0.3s ease;
                pointer-events: none;
                background-color: transparent;
            }

            .inputfield:focus {
                border-color: #EDDCD2;
            }

            .inputfield:focus+.inputlabel,
            .inputfield:not(:placeholder-shown)+.inputlabel {
                top: -10px;
                left: 10px;
                font-size: 12px;
                color: #EDDCD2;
                background-color: #CB997E;
                padding: 0 5px;
            }

            >button {
                border-radius: 4px;
                padding: 10px;
                font-size: 16px;
                background-color: #FFF1E6;
                color: #CB997E;
                width: min-content;
                align-self: flex-end;
            }



            &.hidenewnote {
                animation: hidenewnote .3s forwards ease-in-out;
            }

            &.shownewnote {
                animation: shownewnote .3s forwards ease-in-out;
            }

        }

    }

    >.popupwrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 4;
        animation: showpopup .3s ease-in-out forwards;
        opacity: 0;

        .popup {
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #A5A58D;
            border-radius: 15px;
            padding: 30px;
            padding-left: 20px;
            gap: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            >div {
                width: -webkit-fill-available;

                >h1 {
                    width: max-content;
                }
            }

            hr {
                height: 1px;
                width: 90%;
                background-color: #B7B7A4;
                margin: 20px auto;
            }

            .sending {
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 20px;
                gap: 20px;

                >div {
                    padding: 8px;
                    border: 15px;
                    background-color: #F0EFEB;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    color: #B7B7A4;
                    align-items: center;
                    font-size: 24px;
                    border-radius: 12px;

                    >img {
                        height: 1.6em;
                        cursor: pointer;
                    }
                }

                >h2 {
                    cursor: pointer;
                    width: fit-content;
                    text-align: center;
                }
                >.giving{
                    align-self: flex-end;
                    justify-self: end;
                    padding: 12px;
                    background-color: #F0EFEB;
                    color: #B7B7A4;
                    font-size: 20px;
                    border-radius: 12px;
                }
            }

            .dottedlist {
                list-style: none;
                padding: 0;
                font-family: Arial, sans-serif;

                li {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    padding: 6px 0;
                    font-size: 26px;
                }

                .number {
                    flex-shrink: 0;
                    font-weight: bold;
                }

                .dots {
                    flex-grow: 1;
                    border-bottom: 2px dotted #F0EFEB;
                    height: 1em;
                    margin: 0 4px;
                    transform: translateY(-2px);
                }

                .text {
                    flex-shrink: 0;
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes hidesidemenu {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-105%);
    }
}

@keyframes showsidemenu {
    from {
        transform: translateX(-105%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hidenewnote {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateY(130%);
    }
}

@keyframes shownewnote {
    from {
        transform: translateY(130%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes showgameplace {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes showpopup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

