@use '../mixin.scss' as mixin;

.parent {
    @include mixin.flex(center, center, row);
    background-size: cover;
    width: 100vw;
    height: 100vh;

    >div {
        @include mixin.flex(start, start, column, nowrap, 10px);

        >h1 {
            text-align: center;
        }

        >h2{
            color: var(--soft-green);
        }

        >button {
            border-radius: 10px;
            padding: 10px;
            font-size: 20px;
            transition: .1s ease-in-out;
            border: 3px solid var(--strong-green);
            background-color: var(--body-color);
            color: var(--strong-green);
            
            align-self: flex-end;
 

            &:hover {
                background-color: var(--strong-green);
                color: var(--body-color);
            }
        }
    }

    >img {
        height: 30em
    }
}