.parent{
    width: 800px;
    height: 800px;
    background-image: url('../src/assets/svg/chariotsracebg/top.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}