@use '../../mixin.scss' as mixin;


.sidemenu {
    background-color: var(--strong-orange);
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    transform: translateX(-105%);
    padding: 20px;
    width: min-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 3;

    >span {
        @include mixin.flex(auto, auto, row, nowrap, 30px);
        text-wrap: nowrap;
        width: 100%;
        margin-bottom: 40px;

        >img {
            height: 4em;
            cursor: pointer;

            &:first-of-type {
                transform: rotate(180deg);
            }
        }
    }

    >.allnotes {
        @include mixin.flex(flex-start, center, row, wrap, 15px);
        width: 100%;
        position: relative;
        overflow-y: auto;
        max-height: 85%;


        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            background: var(--system-white);
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--soft-green);
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--soft-green);
        }

        >div {
            background-color: var(--system-white);
            max-width: 500px;
            color: var(--strong-green);
            padding: 15px;
            border-radius: 15px;
            height: fit-content;

            &:hover img {
                opacity: 1;
            }

            >span {
                @include mixin.flex(center, space-between, row, nowrap, 20px);

                >img {
                    height: 2em;
                    transition: .2s ease-in-out;
                    opacity: 0;
                    cursor: pointer;
                }

                >* {
                    overflow-wrap: break-word;
                    white-space: normal;
                }

                >h2 {
                    color: var(--strong-orange);
                }

                >.active {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }

            >div {
                @include mixin.flex(start, space-evenly, row, nowrap, 15px);
                text-wrap: nowrap;

                >span {
                    @include mixin.flex(auto, auto, column);
                    padding: 10px;


                    &:nth-of-type(2) {


                        background-color: var(--soft-green);
                        color: var(--system-white);
                        border-radius: 10px;
                    }

                    >p {
                        text-wrap: auto;
                    }
                }
            }



            h3 {
                color: var(--strong-orange);
            }
        }

        >span {
            @include mixin.flex(center, auto, column);
            cursor: pointer;
            height: fit-content;
            transition: .3s ease-in-out;

            >img {
                height: 10em;
            }
        }

        .logout {
            position: fixed;
            height: 4em;
            left: 20px;
            bottom: 20px;
            transition: .3s ease-in-out;

            &:hover {
                cursor: pointer;
                scale: 1.03;
            }
        }

    }


    &.hidesidemenu {
        animation: hidesidemenu .3s forwards ease-in-out;
    }

    &.showsidemenu {
        animation: showsidemenu .3s forwards ease-in-out;
    }


    .newnote {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 85%;
        position: absolute;
        bottom: 4%;
        transform: translateY(130%);
        background-color: var(--strong-orange);

        .inputgroup {
            width: 93%;
            position: relative;
        }

        .inputfield {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            border: 3px solid var(--soft-yellow);
            background-color: var(--strong-orange);
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s;
        }

        .inputlabel {
            position: absolute;
            left: 15px;
            top: 15px;
            font-size: 16px;
            color: var(--soft-yellow);
            transition: all 0.3s ease;
            pointer-events: none;
            background-color: transparent;
        }

        .inputfield:focus {
            border-color: var(--soft-pink);
        }

        .inputfield:focus+.inputlabel,
        .inputfield:not(:placeholder-shown)+.inputlabel {
            top: -10px;
            left: 10px;
            font-size: 12px;
            color: var(--soft-pink);
            background-color: var(--strong-orange);
            padding: 0 5px;
        }

        >span {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            >button {
                border-radius: 4px;
                padding: 10px;
                font-size: 16px;
                border: 3px solid var(--soft-yellow);
                background-color: var(--strong-orange);
                color: var(--soft-yellow);
                width: min-content;
                align-self: flex-end;

                &:hover {
                    background-color: var(--soft-yellow);
                    color: var(--strong-orange);
                }
            }

        }

        &.hidenewnote {
            animation: hidenewnote .3s forwards ease-in-out;
        }

        &.shownewnote {
            animation: shownewnote .3s forwards ease-in-out;
        }

    }

    >h2 {
        position: absolute;
        bottom: 40px;
        text-wrap: nowrap;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 1;
        font-size: 26px;
        opacity: 0;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    }

    >.sadmeshide {
        animation: sadmeshide .3s ease-in-out forwards;
    }

    >.sadmesshow {
        animation: sadmesshow .3s ease-in-out forwards;
    }
}

@keyframes hidesidemenu {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-105%);
    }
}

@keyframes showsidemenu {
    from {
        transform: translateX(-105%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hidenewnote {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(130%);
    }
}

@keyframes shownewnote {
    from {
        transform: translateY(130%);
    }

    to {
        transform: translateY(20px);
    }
}

@keyframes sadmesshow {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes sadmeshide {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}