.parent {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    gap: 40px;
    height: 78%;
    width: calc(100% - 80px);

    >.providersarray {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0);
            border-radius: 6px;

        }

        &::-webkit-scrollbar-thumb {
            background: #A5A58D;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #A5A58D;
        }

        >span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;

            >img {
                height: 15em;
            }
        }


        >.provider {
            display: flex;
            flex-direction: column;
            padding: 15px;
            width: 400px;
            gap: 15px;
            border: 2px solid #A5A58D;
            border-radius: 20px;
            justify-content: space-between;
            position: relative;

            >div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                >span {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 10px;

                    >img {
                        height: 2em;
                    }
                }
            }

            >.notavaible {
                border-radius: 20px;
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.65);
                left: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 3;

                >img {
                    height: 12em;
                }

                >p {
                    font-size: 36px;
                }
            }

        }
    }

    button {
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        transition: .1s ease-in-out;
        border: 3px solid #CB997E;
        background-color: #30343F;
        color: #CB997E;
        width: min-content;
        align-self: flex-end;
        text-wrap: nowrap;
        width: 100%;

        &:hover {
            background-color: #CB997E;
            color: #30343F;
        }
    }


    >.popupwrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
        animation: show .3s ease-in-out forwards;
        opacity: 0;

        .popup {
            z-index: 4;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #A5A58D;
            border-radius: 15px;
            padding: 15px;
            padding-left: 20px;
            gap: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);



            b {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;

                >img {
                    height: 1.2em;
                }
            }

            >p {
                background-color: #F0EFEB;
                border-radius: 15px 0 15px 15px;
                padding: 10px;
                font-size: 20px;
                align-self: flex-end;
                cursor: pointer;
                transition: .2s ease-in-out;
                display: flex;
                flex-direction: row;
                align-items: center;

                &:hover {
                    transform: translateX(-15px);
                }

                &:nth-of-type(1) {
                    color: #8EA604;
                }

                &:nth-of-type(2) {
                    color: #F5BB00;

                }

                &:nth-of-type(3) {
                    color: #D76A03;

                }
            }

            .dealermessage {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 10px;
                justify-content: flex-start;

                >img {
                    height: 3.5em;
                    padding: 3px;
                    border-radius: 100%;
                    background-color: #555;
                }

                >p {
                    background-color: #F0EFEB;
                    color: #A5A58D;
                    border-radius: 0 15px 15px 15px;
                    padding: 10px;
                    font-size: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }

            >span {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                gap: 30px;
                align-items: center;


                input[type="range"] {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 10px;
                    background: #F0EFEB;
                    border-radius: 5px;
                    outline: none;

                }

                input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 20px;
                    height: 20px;
                    background: #555;
                    border-radius: 50%;
                    cursor: pointer;
                }

                input[type="range"]::-moz-range-thumb {
                    width: 20px;
                    height: 20px;
                    background: #555;
                    border-radius: 50%;
                    cursor: pointer;
                }

                &:nth-of-type(2) {
                    margin-block: 30px;
                }

                >img {
                    height: 2em;
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}