@use '../mixin.scss' as mixin;

.nextshowing {
    animation: nextshowing .1s ease-in-out forwards;
}

@keyframes nextshowing {
    from {
        opacity: .4;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.backshowing {
    animation: backshowing .1s ease-in-out forwards;
}

@keyframes backshowing {
    from {
        opacity: .4;
        transform: translateX(+40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.panel {
    @include mixin.flex(center, space-between, row);
    margin-left: 15px;
    width: 30%;
    position: absolute;
    left: 60px;
    top: 150px;

    >img {
        height: 4em;
        cursor: pointer;
    }

    .next {
        height: 5.5em;
    }

    .back {
        transform: scale(-1);
    }

    h1>img {
        height: 1em;
    }

}

.statistic {
    @include mixin.flex(auto, auto, column, nowrap, 20px);
    position: absolute;
    left: 60px;
    top: 300px;

    >span {
        @include mixin.flex(center, space-between, row, nowrap);
        margin-left: 15px;

        >img {
            height: 4em;
            cursor: pointer;
        }

        >div {
            padding: 5px;
            font-size: 20px;
            border: 2px solid var(--strong-orange);
            border-radius: 5px;
            width: 200px;
            text-align: center;
        }

        h2 {
            margin-inline: 10px 30px;
        }

    }
}

.parent {
    height: 600px;
    position: relative;
    margin: auto;
    right: 100px;
    transform: translateX(40%);

    >img {
        position: absolute;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            scale: 1.03;
        }
    }

    >.table {
        height: 700px;
        left: -200px;
        bottom: 0;
        transform: translateY(35%);
    }

    >.mug {
        height: 200px;
        left: 740px;
        top: 185px;
    }

    >.lamp {
        z-index: 1;
        height: 400px;
        left: -90px;
        top: 70px;
    }

    >.drawers {
        height: 600px;
        left: 600px;
        bottom: 0;
        transform: translateY(30%);
    }

    .upgrade {
        @include mixin.flex(center, center, row);
        z-index: 2;
        cursor: pointer;
        position: absolute;
        width: max-content;
        padding: 15px;
        font-size: 20px;
        border: 2px solid var(--strong-green);
        border-radius: 20px;

        >img {
            height: 1em;
        }
    }

    >.uprgadelamp {
        left: 140px;
        top: 70px;
    }

    >.uprgadetable {
        left: 350px;
        top: 250px;
    }

    >.uprgademug {
        left: 740px;
        top: 110px;
    }

    >.uprgadedrawers {
        left: 1000px;
        top: 250px;
    }

}

.noworkers {
    @include mixin.flex(center, center, column, nowrap, 25px);
    margin: auto;

    >img {
        height: 20em;
    }

    >p {
        text-align: center;
        font-size: 32px;
    }
}

.warning {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: showwarning 3s ease-in-out forwards;
    background-color: var(--soft-green);
    padding: 20px;
    border-radius: 25px;
}

@keyframes showwarning {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, -40px);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -40px);
    }

    100% {

        opacity: 0;
        transform: translate(-50%, 0);
    }
}