.nextshowing {
    animation: nextshowing .1s ease-in-out forwards;
}

@keyframes nextshowing {
    from {
        opacity: .4;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.backshowing {
    animation: backshowing .1s ease-in-out forwards;
}

@keyframes backshowing {
    from {
        opacity: .4;
        transform: translateX(+40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.panel {

    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    text-wrap: nowrap;
    position: absolute;
    left: 60px;
    top: 150px;
    >img {
        height: 4em;
        cursor: pointer;
    }

    .next {
        height: 5.5em;
    }

    .back {
        transform: scale(-1);
    }

    h1>img{
        height: 1em;
    }

}

.statistic {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 60px;
    top: 300px;

    >span {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        align-items: center;
        justify-content: space-between;

        >img {
            height: 4em;
            cursor: pointer;
        }

        >div {
            padding: 5px;
            font-size: 20px;
            border: 2px solid #CB997E;
            border-radius: 5px;
            width: 200px;
            text-align: center;
        }

        h2 {
            margin-inline: 10px 30px;
        }

    }
}

.parent {
    height: 600px;
    position: relative;
    margin: auto;
    right: 100px;
    transform: translateX(40%);

    >img {
        position: absolute;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            scale: 1.03;
        }
    }

    >.table {
        height: 700px;
        left: -200px;
        bottom: 0;
        transform: translateY(35%);
    }

    >.mug {
        height: 200px;
        left: 740px;
        top: 185px;
    }

    >.lamp {
        z-index: 1;
        height: 400px;
        left: -90px;
        top: 70px;
    }

    >.drawers {
        height: 600px;
        left: 600px;
        bottom: 0;
        transform: translateY(30%);
    }

    .upgrade {
        z-index: 2;
        cursor: pointer;
        position: absolute;
        width: max-content;
        padding: 15px;
        font-size: 20px;
        border: 2px solid #A5A58D;
        border-radius: 20px;
    }

    >.uprgadelamp {
        left: 140px;
        top: 70px;
    }

    >.uprgadetable {
        left: 350px;
        top: 250px;
    }

    >.uprgademug {
        left: 740px;
        top: 110px;
    }

    >.uprgadedrawers {
        left: 1000px;
        top: 250px;
    }

}

.noworkers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 25px;

    >img {
        height: 20em;
    }

    >p {
        text-align: center;
        font-size: 32px;
    }
}