@use '../mixin.scss' as mixin;

.parent {
    @include mixin.flex(auto, auto, column, nowrap, 50px);
    width: calc(100% - 80px);
    height: 71%;
    padding: 0 40px;

    >div {
        @include mixin.flex(center, space-between, row);

        >h1 {
            >span {
                color: var(--soft-yellow);
            }
        }
    }

    >main {
        @include mixin.flex(auto, auto, row);
        width: 100%;
        height: -webkit-fill-available;

        >.myworkers,
        >.list {
            @include mixin.flex(auto, auto, column, nowrap, 20px);
            padding: 0;
            width: 50%;
            height: 100%;
            overflow: auto;
            padding-right: 12px;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0);
                border-radius: 6px;

            }

            &::-webkit-scrollbar-thumb {
                background: var(--strong-orange);
                border-radius: 6px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--strong-orange);
            }


            >div {
                @include mixin.flex(center, auto, row, nowrap, 10px);
                transition: .3s ease-in-out;
                width: -webkit-fill-available;
                position: relative;

                >h2 {
                    @include mixin.flex(center, auto, row, nowrap, 10px);
                    position: absolute;
                    right: 30px;

                    >img {
                        height: 1em;
                    }
                }

                >img {
                    height: 4em;
                }

                &:hover {
                    cursor: pointer;
                    scale: .99;
                }
            }

            >button {
                margin-block: 30px;
                width: min-content;
                margin-inline: auto;
            }
        }

        >.myworkers {
            >div {
                border: 1px solid #6b705c;
                border-radius: 20px;
                padding: 15px;
                margin-inline: 20px;
            }
        }

        >.currentworker {
            padding-inline: 30px;
            width: 40%;
            @include mixin.flex(auto, auto, column);
            height: 12 0%;
            overflow: auto;



            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0);
                border-radius: 6px;

            }

            &::-webkit-scrollbar-thumb {
                background: var(--strong-orange);
                border-radius: 6px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--strong-orange);
            }


            span {
                color: var(--soft-orange);
            }

            >img {
                height: 20em;
                width: min-content;
            }

            >div {
                @include mixin.flex(auto, auto, column, nowrap, 25px);

                >h2 {
                    @include mixin.flex(center, auto, row, nowrap, 10px);
                    >img {
                        height: 1em;
                    }


                }

                >div {
                    @include mixin.flex(auto, auto, row, nowrap, 20px);

                    &:last-of-type {
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }
        }

        .loading {
            @include mixin.flex(auto, center, column);
            width: min-content;

            margin: auto;

            >img {
                height: 15em;
            }

            >p {
                font-size: 24px;
                text-align: center;
            }
        }

        button {
            border-radius: 10px;
            padding: 10px;
            font-size: 26px;
            border: 3px solid var(--strong-orange);
            transition: .1s ease-in-out;
            background-color: var(--body-color);
            color: var(--strong-orange);
            width: min-content;
            align-self: flex-end;
            text-wrap: nowrap;

            &:hover {
                background-color: var(--strong-orange);
                color: var(--body-color);
            }
        }

        >.loading {
            transform: translateY(-100px);
        }
    }
}