body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    >.top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: min-content;

        >img:first-of-type {
            scale: .8;
        }

        >header {
            display: flex;
            flex-direction: row;
            gap: 45px;

            >a>span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                >img:nth-of-type(3),
                >img:nth-of-type(4),
                >img:nth-of-type(6) {
                    scale: .85;
                }

                &:hover p {
                    opacity: 1;
                    transform: translateY(0);
                }

                >p {
                    color: #F0EFEB;
                    transform: translateY(-100%);
                    transition: .1s ease-in-out;
                    opacity: 0;
                }
            }
        }

        .bag {
            animation: none;
        }

        .bag:hover+.coins {
            transform: translateX(-18%);
        }

        .bag:hover {
            animation: flipAndShake 1.5s forwards;
        }

        .bag:not(:hover) {
            animation: flipAndShakeback .5s forwards;
        }

        .coins {
            position: absolute;
            top: 130px;
            right: 0;
            transform: translateX(100%);
            transition: .3s ease-in-out;

            >span {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                font-size: 3em;
            }

            img {
                height: 60px;
            }
        }

        img {
            height: 120px;
        }

        img:hover {
            animation: springy 1s cubic-bezier(0.3, 0.7, 0.4, 1.2) backwards;
            cursor: pointer;
        }
    }
}


@keyframes springy {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-3deg);
    }

    60% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes flipAndShake {
    0% {
        transform: rotate(0deg) translateY(0);
    }

    50% {
        transform: rotate(180deg) translateY(0);
    }

    55%,
    65%,
    75%,
    85%,
    95% {
        transform: rotate(180deg) translateY(-5px);
    }

    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(180deg) translateY(5px);
    }
}

@keyframes flipAndShakeback {
    from {
        transform: rotate(180deg) translateY(5px);

    }

    to {
        transform: rotate(0deg) translateY(0);
    }
}