:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --system-white: #F0EFEB;

  --strong-orange: #CB997E;
  --strong-green: #A5A58D;

  --soft-orange: #DDBEA9;
  --soft-green: #B7B7A4;
  --soft-pink: #EDDCD2;
  --soft-yellow: #FFF1E6;

  --body-color: #30343F;

  --system-red: #AC5045;
  --system-yellow: #DFA05D;
  --system-green: #658761;
}

#root {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'specific';
  src: url('./assets/fonts/TanaUncialSP.otf');
}


@font-face {
  font-family: 'antique';
  src: url('./assets/fonts/caesar-dressing-cyrillic.otf');
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  transition: .1s ease-in-out;
}

* {
  margin: 0;
  border: 0;
  padding: 0;

  font-family: "antique", sans-serif;
}


a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  background-color: var(--body-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: none;
  scale: .99;
}

@media (prefers-color-scheme: light) {
  :root {}

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}