#clientwrapper {
    width: 383px;
    min-height: min-content;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
    padding-top: 0;



    >.shield {
        display: flex;
        background-color: #30343F;
        width: 100%;
        position: absolute;
        transform: translateY(-100%);
        transition: .5s ease-in-out;
        height: 100%;
        z-index: 3;
        border-bottom: 2px solid #CB997E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;

        >span {
            width: 80%;
            height: 30px;
            border: 1px solid #464c5c;
        }

        >.close {
            transform: translateY(100%);
            background-color: #30343F;
            border: 1px solid #CB997E;
            border-radius: 0 0 5px 5px;
            padding-inline: 7px;
            transition: .3s ease-in-out;
            z-index: 2;
            position: absolute;
            bottom: 0;

            >img {
                height: 2em;
                transform: rotate(90deg);
            }

            &:hover {
                transform: translateY(110%);
            }
        }
    }

    >.active {
        transform: translateY(0);

        >.close {
            display: none;
        }
    }

    >.time {
        width: 100%;
        height: 5px;
        background-color: #658761;
        position: absolute;
        left: 0;
        top: 0;
    }

    .client {
        overflow: hidden;
        position: relative;
        min-height: 264px;
        width: -webkit-fill-available;
        transition: .3s ease-in-out;

        >p {
            text-align: center;
            text-wrap: wrap;
            font-size: 20px;
            margin-top: 35px
        }

        >div {
            display: flex;
            flex-direction: column;
            width: min-content;
            margin: auto;

            >.clientimg {
                height: 20em;
            }

            >.likeatable {
                position: absolute;
                width: 29em;
                left: 50%;
                transform: translate(-50%, 72%);
                bottom: 0;
                z-index: 0;
            }


        }
    }


    .clientscomming {
        animation: clientscomming .3s ease-in-out forwards;
    }

    .clientsatisfied {
        animation: clientsatisfied .3s ease-in-out forwards;
    }

    .clientdissatisfied {
        animation: clientdissatisfied .3s ease-in-out forwards;
    }

    .bottompanel {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: -webkit-fill-available;
        gap: 20px;
        padding-top: 15px;
        justify-content: space-between;

        >button {
            border-radius: 4px;
            padding: 10px;
            font-size: 18px;
            font-weight: 900;
            background-color: #30343F;
            align-self: flex-end;
            height: 4em;
            overflow: hidden;
            position: relative;
            aspect-ratio: 1/1;

            &:hover {
                color: #30343F;
                background-color: #AC5045;
            }

            &:nth-of-type(2):hover {
                background-color: #658761;
            }

            >img {
                position: absolute;
                height: 5em;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }
        }
    }
}

@keyframes clientscomming {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes clientsatisfied {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes clientdissatisfied {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}